# Yes I'm scared
config_files/home/tv/earlgreytv/images/yt.png
config_files/home/tv/earlgreytv/images/netflix.jpg
config_files/home/tv/earlgreytv/images/hn.png
config_files/home/tv/earlgreytv/images/max.png
